@charset "UTF-8";
	
	body{
		background: whitesmoke;
	}
	#forum-content{
		padding : 0px !important;
		margin-top: 52px !important;
	}
	div#attach-file{
		color: white !important;
		cursor: pointer;
	}
	.write-box{
		width: 100%;
		padding: 17px 17px 7px 17px;
		background: #1276AA;
	    border-radius: 0;
	}
	.write-box>textarea{
		border-radius: 0;
	}
	.write-btn{
		/* padding: 0px; */
		padding-bottom : 7px;
		background: #1276AA;
	    border-radius: 0;
		color: white;
		cursor: pointer;
	}
	.write-btn-group{
		padding: 0px;
	}
	.panel{
		margin-top: 0px !important;
	    border-radius: 0 !important;		
	}
	.panel-heading{
		padding: 5px !important;
	}
	.alarm-panel-heading{
		background-color: #ffefea !important;
	}
	.panel a{
		text-decoration: none !important;		
	}
	.panel a>div{
		margin-bottom: 5px;
	}
	.panel-default{
		border-bottom: 0px !important;
	}
	.panel-title{
		cursor: pointer;
	}
	.panel .category{
		float: none;
		display: inline-block;
		background-color: #1276AA;
		width: 35px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		vertical-align: middle;
		color: white;
		border-radius: 4px;
		margin: 5px;
		margin-top: 7px;
		font-size: 12px;
	}
	.contentT {
		display: inline-block;
		position: absolute;
		left: 55px;
		vertical-align: middle;
		font-size: 14;
		/* color: black; */
		height: 40px;
		margin-top: 7px;
		margin-bottom: 5px;
	}
	.titleT{
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 250px !important;
	}
	.dateT{
		font-size: 11px;
	}
	.no-data{
		padding: 5px !important;
	    border-radius: 0 !important;		
	}
	.forum-list{
		margin: 0px !important;
	}
	#loading-bar{
		display: none;
		padding: 5px !important; 
		height: 30px;
		
	}
	.comment-loading-bar{
		height: 40px; 
	}
	.info-box{
		margin:0; margin-bottom:10px; 
		font-size: 13px; 
		color: black;
		margin-bottom: 10px;
	}
	.info-bar{
		margin:0 3px;
	}
	.forum-edit-submit{
		display: none;
		background: #1578ab;
    	color: white !important;
	}
	.content-box{ 
		background: #f2f3f5;
		padding: 10px;
		overflow:hidden;
		word-wrap:break-word;
		margin-bottom: 7px;		
	}
	.like-box{
		margin-bottom: 15px;
	}
	.like-btn{
		border-radius: 0!important;		
	}
	.writer-box{
		color: black;
		font-weight: bold !important;
	}
	.writer-box .writer{
		display:inline; 
		padding: 0; 
		line-height: 25px; 
	}
	.button-box{
		margin: 2px;
	}
	.button-box button{
		color: black;
		margin-right: 5px;
		border-radius: 0;
	}
	.like-i{
		color: tomato;
	}
	.comment-i{
		color: darksalmon !important; 
	}
	.comment-input-box{
		margin-top: 8px !important;
		margin-bottom: 8px !important;
	}
	.comment-box{
		margin-bottom: 8px;
	}
	.comments{
		display: block;
		margin-top: 20px;	
	}
	.comment-wrap {
		margin-bottom: 1.25rem;
		display: table;
		width: 100%;
		min-height: 5.3125rem;
	}.photo {
		padding-top: 0.625rem;
		display: table-cell;
		width: 3.5rem;
	}.photo .avatar {
		height: 2.25rem;
		width: 2.25rem;
		border-radius: 50%;
		background-size: contain;
	}.photo span {
		font-size: 10px;
		display: block;
		max-width: 45px !important;
		overflow:hidden;
		word-wrap:break-word;
	}.comment-block {
		max-width: 1px !important;
		overflow: hidden;
		word-wrap: break-word;
		padding: 11px;
		background-color: #f2f3f5;
		display: table-cell;
		vertical-align: top;
		border-radius: 0.1875rem;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
	}.comment-text {
		font-size: 14px !important; 
		margin-bottom: 1.25rem;
	}.bottom-comment {
		color: #acb4c2;
		font-size: 0.875rem;
	}.comment-date {
		font-size: 12px !important; 
		float: left;
	}.comment-actions {
		padding: 0px;
		font-size: 12px !important; 		
		margin: 0px;
		float: right;
	}.comment-actions li {
		display: inline;
		margin: -2px;
		cursor: pointer;
	}
	.comment-actions li.modify-comment {
		padding-right: 0.75rem;
		border-right: 1px solid #e1e5eb;
	}
	.comment-actions .modify-comment-submit {
		display: none;
		padding-left: 0.75rem;		
		padding-right: 0.75rem;
		border-right: 1px solid #e1e5eb; 
	}
	.comment-actions li.delete-comment {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
	.comment-actions li:hover {
		color: #0095ff;
	}