@charset "UTF-8";

#blogtitle {
	text-align: center;
	margin: auto;
	padding: 10px;
	margin-top: 30px;
	background: #e6f3d9;
}

#mainBtn {
	float: left;
}

#content {
	margin: auto;
	width: 80%;
}
#blogContent{
	min-height: 600px;
	overflow:hidden;
    height:auto;
}
#main {
	float: left;
	width: 100%;
	background: #efdfed;
	
	min-height: 600px;
}
#setBtnBox{
	margin: 10px;
}
#formBox{	
	margin: 50px;
}
#loginBtn {
	margin-top: 10px;
	text-align: center;
}