doctype html
html
    head
        title Node pug test
        meta(charset="utf-8")
        link(rel="stylesheet", href="/test.css")
        script(src="/test.js")
    body
        // html 컨텐츠 주석문 입니다.
        //- html 컨텐츠 주석문 입니다.
        h1 PUG연습중
        hr
        a(href="https://pugjs.org")
        #test1
            p 아이디 설정된 div가 생성..
        .test2
            p 클래스 설정된 div가 생성..
            